<style>
  h1,
  h2,
  a {
    text-align: center;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }
  button {
    display: block;
  }
</style>
<div class="container">
  <h1 class="display-1">4<span style="color:#5579ff">0</span>4</h1>
  <h2 class="display-2">Page<span style="color:#5579ff"> Not </span>Found</h2>
  <a href="/">
    <button class="btn btn-primary">
      Back To home
    </button>
  </a>
</div>
